fastapi==0.133.0
uvicorn==0.41.0
starlette==0.52.1

pydantic==2.12.5
pydantic_core==2.41.5

pypdf==6.7.3
pikepdf>=9.0.0
img2pdf>=0.5.1

python-multipart>=0.0.9
python-dotenv==1.2.1

httptools==0.7.1
watchfiles==1.1.1
websockets==16.0

anyio==4.12.1
click==8.3.1
h11==0.16.0
idna==3.11
typing_extensions==4.15.0
typing-inspection==0.4.2

pytest
httpx
